@using Hamscoffee.Models
@model List<cart>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layoutuser.cshtml";
}
<div class="container" style="padding: 0px;">
    <section id="cart_items" style="background-color:white;">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Shopping Cart</li>
                </ol>
            </div>
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="image">Sản phẩm</td>
                            <td class="description"></td>
                            <td class="price">Đơn giá</td>
                            <td class="quantity">Số lượng</td>
                            <td class="total">Thành tiền</td>
                            <td class="delete">
                                @Html.ActionLink("XÓA", "DeleteAllCart", "Cart")
                            </td>
                        </tr>
                    </thead>
                    <tbody style="background-color:white;">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="cart_product">
                                    <a href="@Url.Action("ProductDetails", "ProductDetails", new { id = @item.sProductID })"><img src="@item.sURLImage" alt=""></a>
                                </td>
                                <td class="cart_description">
                                    <h4><a href="@Url.Action("ProductDetails", "ProductDetails", new { id = @item.sProductID })">@item.sProductName</a></h4>
                                    <p>ID: @item.sProductID</p>
                                </td>
                                <td class="cart_price">
                                    <p>@item.dCost</p>
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button">
                                        <a class="cart_quantity_up" href=""> + </a>
                                        <input class="cart_quantity_input" type="text" name="quantity" value="@item.iQuantity" autocomplete="off" size="2">
                                        <a class="cart_quantity_down" href=""> - </a>
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">@item.dTotal</p>
                                </td>
                                <td class="cart_delete">
                                    <a class="cart_quantity_delete" href="@Url.Action("DeleteCart", "Cart", new { id = @item.sProductID })"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </section> <!--/#cart_items-->

    <section id="do_action" style="background-color:white;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="total_area">
                        <ul>
                            <li>Cart Sub Total <span>@ViewBag.Total</span></li>
                            <li>Eco Tax <span>0</span></li>
                            <li>Shipping Cost <span>Free</span></li>
                            <li>Total <span>@ViewBag.Total</span></li>
                        </ul>
                        <a class="btn btn-default update" href="@Url.Action("OrderDetails", "Cart")">Đặt hàng</a>
                        <a class="btn btn-default check_out" href="">Cập nhật</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#do_action-->
</div>


